{% extends "app/layout.html" %}

{% block content %}
{% load static %}
<div class="jumbotron">

    <h1>Bem-vindo ao SOFT 2024 GDM</h1>
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="btn btn-primary btn-lg btn-block">
                    <i class="bi bi-file-earmark-text"></i>
                    Função 1
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn btn-primary btn-lg btn-block">
                    <i class="bi bi-clipboard-data"></i>
                    Função 2
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn btn-primary btn-lg btn-block">
                    <i class="bi bi-graph-up"></i>
                    Função 3
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn btn-primary btn-lg btn-block">
                    <i class="bi bi-gear"></i>
                    Função 4
                </a>
            </div>
        </div>
    </div></div></a> -->
    <!-- <img src="{% static 'img/cirurgia.jpg' %}" alt="Your Image" style="opacity: 0.5;"> -->
</div>



<!-- <div class="jumbotron">
    <h1 class="display-4">Welcome to Our Website!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <img src="{% static 'img/cirurgia.jpg' %}" class="img-fluid my-4" alt="Responsive image">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div> -->

 <!-- Add this line to load static files -->

<!-- Rest of your code -->

{% endblock %}
