{% extends "app/layout.html" %}

{% block content %}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Lista</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Configuraçōes</a></li>
        <li class="breadcrumb-item">Lista de Produtos</li>
        
      </ol>
      <a href="{% url "criar_produto" %}">
        <button type="button"  class="btn btn-outline-success" onclick="index.html">Novo</button>
      </a>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <table class="table datatable table-hover">
              <thead class="table-dark">
                <tr>
                  <th scope="col">Codico</th>
                  <th scope="col">Preço</th>
                  <th scope="col">Descriçāo</th>
                </tr>
              </thead>
              {% for produto in lista_de_produtos%}
              <tr>
                <td><a href="{% url 'produto'  produto.id %}">{{ produto.codigo }}</a></td>
                <td><a href="{% url 'produto'  produto.id %}">{{ produto.preco|floatformat:2 }}</a></td>
                <td><a href="{% url 'produto'  produto.id %}">{{ produto.descricao }}</a></td>
                {% comment %} <td><a href="{% url 'produto'  produto.nome %}">{{ produto.valor|floatformat:2 }}</a></td> {% endcomment %}
              </tr>
              {% endfor %}

            </table>

          </div>
        </div>

      </div>
    </div>
  </section>

</main>


{% endblock %}
