{% extends "app/layout.html" %}

{% block content %}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Lista</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Configuraçōes</a></li>
        <li class="breadcrumb-item">Lista de Cirurgia</li>
        
      </ol>
      <a href="{% url "add_cirurgia" %}">
        <button type="button"  class="btn btn-outline-success" onclick="index.html">Novo</button>
      </a>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <table class="table datatable table-hover">
              <thead class="table-dark">
                <tr>
                  <th scope="col">Data</th>
                  <th scope="col">Porte</th>
                  <th scope="col">Procedimento</th>

                </tr>
              </thead>
              {% for cirurgia in lista_cirurgia%}
              <tr>
                <td>{{ cirurgia.data|date:"d-m-Y" }}</td>
                <td>{{ cirurgia.portecirurgico }}</td>
                <td>{{ cirurgia.procedimento }}</td>

                <td>

                  <a href="{% url 'edit_cirurgia' cirurgia.id %}">
                    <button type="button" class="btn btn-outline-primary">Editar</button>
                  </a>
                </td>

                
              </tr>
              {% endfor %}

            </table>

          </div>
        </div>

      </div>
    </div>
  </section>

</main>


{% endblock %}
