{% extends "admin/change_form.html" %}
{% load static %}

{% block content %}
    {{ block.super }}
    <div class="form-row mt-4">
        <h3>Custos Totais</h3>
        <div class="form-group col-md-3">
            {{ adminform.form.custoFixo.label_tag }}
            {{ adminform.form.custoFixo }}
        </div>
        <div class="form-group col-md-3">
            {{ adminform.form.custoVariavel.label_tag }}
            {{ adminform.form.custoVariavel }}
        </div>
        <div class="form-group col-md-3">
            {{ adminform.form.custoTotal.label_tag }}
            {{ adminform.form.custoTotal }}
        </div>
    </div>
{% endblock %}
